/searchapp/src/main/ngClient/nbproject/private/
/searchapp/src/main/ngClient/node_modules/
/searchapp/target/
/searchapp/src/main/webapp/assets/
searchapp/src/main/webapp/index.html
searchapp/src/main/webapp/main.e1160878a39b926f8c48.bundle.js
searchapp/src/main/webapp/assets/config.json
searchapp/src/main/webapp/assets/css/app-fonts.css
searchapp/src/main/webapp/assets/fonts/roboto/fonts.css
/ThumbnailsGenerator/target/