/*** ---/ FOOTER STYLES /--- ***/

footer {
	min-height: 110px;
  width: 100%;
  /* Set the fixed height of the footer here */	
  background-color: #333333;
  font-size: 13px;
  color: #fff;
}

footer > .container {
  padding-top: 30px;
  padding-bottom: 20px;
}

footer div + div img {
  padding-bottom: 20px;
}

footer div + div a:not(:first-child) {
  padding-left: 20px;
}

footer div:first-child .well {
	background-color:#3D3D3D;
	border-color:#474747;
}

footer div:first-child > p + p > span:before {
	font-family: FontAwesome;
	content: '\f068';
	padding-right: 4px;
}

footer div:first-child > p + p > span.collapsed:before {
	content: '\f067';
}

footer .app-footer-logo > span:before {
	font-family: FontAwesome;
	content: '\f068';
	padding-right: 4px;
}

footer .app-footer-logo > span.collapsed:before {
	content: '\f067';
}

footer .app-footer-logo img {
  padding-bottom: 10px;
}

footer .app-footer-logo a:not(:first-child) {
  padding-left: 15px;
}

footer .app-footer-logo a:nth-child(5) img {
	width: 120px;
}

footer #app-licence-control {
  margin-left: 12px;
}

footer #app-licence p {
  text-align: left;
}

footer #app-licence a {
  padding-left: 0;
}
