<!-- Title collapse -->
<span *ngIf="hasValue('poznamka') || nalez.length > 0" data-toggle="collapse" class="app-nav-tree-item app-cursor-pointer collapsed" [attr.data-target]="'#'+ id()">
  <span>{{idShort()}} - {{'f_obdobi.' + data.obdobi | translate}}</span>
	<span *ngIf="hasValue('jistota')">({{data.jistota}} {{data.presna_datace}})</span> -
	<span *ngIf="hasValue('areal')">{{data.areal | translateHeslar: 'areal_druha'}}</span>
	<span *ngIf="aktivity.length >0">
      <span>(<span *ngFor="let aktivita of aktivity; let idx = index">{{'f_aktivita_'+aktivita | translate}}<span *ngIf="idx<aktivity.length-1">, </span></span>)</span>
    </span>
</span><!--/.title collapse -->
	
<!-- Title -->
<span *ngIf="!hasValue('poznamka') && nalez.length === 0" class="app-color-blue-pastel app-weight-bold">
  <span>{{idShort()}} - {{'f_obdobi.' + data.obdobi | translate}}</span>
	<span *ngIf="hasValue('jistota')">({{data.jistota}} {{data.presna_datace}}) -</span>
	<span *ngIf="hasValue('areal')">{{data.areal | translateHeslar: 'areal_druha'}}</span>
	<span *ngIf="aktivity.length >0">
      <span>(<span *ngFor="let aktivita of aktivity; let idx = index">{{'f_aktivita_'+aktivita | translate}}<span *ngIf="idx<aktivity.length-1">, </span></span>)</span>
    </span>
</span><!--/.title -->

<!-- Collapse -->
<ul class="list-unstyled collapse" [id]="id()">
  <li *ngIf="hasValue('poznamka')">{{data.poznamka}}</li>

  <!-- Nalez -->
  <span *ngIf="nalez.length > 0">
    <li *ngFor="let n of nalez">
      <app-nalez [nalez]="n" [docId]="id()"></app-nalez>
    </li>
  </span><!--/.nalez -->
</ul><!--/.collapse -->
