<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>IndexerServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.IndexerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaticServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/dist/home</url-pattern>
        <url-pattern>/results/*</url-pattern>
        <url-pattern>/id/*</url-pattern>
        <url-pattern>/export/*</url-pattern>
        <url-pattern>/dist/results/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.ConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config/*</url-pattern>
        <url-pattern>/config</url-pattern>
        <url-pattern>/assets/config.json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>I18nServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.I18nServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>I18nServlet</servlet-name>
        <url-pattern>/assets/i18n/*</url-pattern>
        <url-pattern>/app/assets/i18n/*</url-pattern>
        <url-pattern>/i18n/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexerServlet</servlet-name>
        <url-pattern>/indexer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/img</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.PdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>FavoritesServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.FavoritesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavoritesServlet</servlet-name>
        <url-pattern>/fav</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TextsServlet</servlet-name>
        <servlet-class>cz.incad.arup.searchapp.TextsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TextsServlet</servlet-name>
        <url-pattern>/texts</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
      30
    </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
